
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  padding: 38px 0;
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif; 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(5px); 
  border-radius: 0 0 10px 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.header-logo {
  font-size: 1.5em;
  color: #333; 
  text-decoration: none; 
  padding: 10px 0; 
}


nav {
  background: transparent;
}


nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}


nav ul li {
  padding: 0 10px; 
}


nav a {
  color: #333; 
  text-decoration: none;
  font-size: 1em; 
  transition: color 0.3s ease-in-out;
}


nav a:hover {
  color: #000; 
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .header-logo {
    margin-bottom: 10px; 
    font-size: 3em; 
  }

  nav ul {
    flex-direction: column;
    margin-left: 0; 
    align-items: center; 
  }

  nav ul li {
    padding: 5px 0; 
  }

  nav a {
  font-size: 0.9em; 
  }
  }

  .carousel-item {
    height: 700px; 
  }
  
  .carousel-item img {
    width: 100%; 
    height: 700px; 
    object-fit: cover ; 
  }

  .carousel-item img {
    height: 65vh; 
    object-fit: cover;
  }
  
  .sobre-empresa {
    padding: 40px 0;
    background-color: #f8f9fa;
  }
  
  .sobre-empresa h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sobre-empresa p {
    text-align: justify;
    margin-bottom: 10px;
  }




  footer {
    width: 100%;
    background-color: #343a40; /* ou qualquer cor de fundo que preferir */
    color: white; /* ou qualquer cor de texto que preferir */
    text-align: center;
    padding: 20px 0;
}



  .footer-spacer {
    height: 50px;
  }


  .feature-section {
    padding: 20px 0;
}

.feature {
    text-align: center; /* Centraliza o texto e a imagem */
    margin-bottom: 20px; /* Espaço entre os elementos */
}

.feature img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaço entre a imagem e o texto abaixo dela */
}

.feature h2 {
    margin-bottom: 10px; /* Espaço abaixo dos títulos */
}

.feature p {
    font-weight: bold; /* Opcional: torna o texto 'VER TODOS OS...' em negrito */
}




.promo-section {
  background: url('/static/interior.webp') no-repeat center center;
  background-size: cover; /* ou pode usar 'contain' se não quiser que a imagem seja cortada */
  background-position: center center; /* Centra a imagem de fundo */
  background-repeat: no-repeat; /* Não repete a imagem */
  height: 400px; /* Ajuste de acordo com a altura desejada */
  display: flex;
  align-items: center; /* Isto vai centralizar o conteúdo da promoção verticalmente */
  justify-content: center; 
}
.promo-section img {
  max-width: 100%; /* Define a largura máxima da imagem para 100% do contentor */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: contain; /* Ajusta a imagem para o contentor sem cortar */
}

.promo-section h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.promo-section p {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.promo-section .btn {
  font-weight: bold;
  background-color: #decba4; /* Cor do botão */
  border: none;
}

/* Ajuste para tamanhos de tela menores */
@media (max-width: 768px) {
  .promo-section h2 {
      font-size: 2rem;
  }

  .promo-section p {
      font-size: 1.2rem;
  }
}


.highlights-section .col-md-4 {
  margin-bottom: 30px; /* Espaçamento entre os itens */
}

.highlights-section img {
  width: 100%; /* Garante que a imagem ocupe toda a largura da coluna */
  height: auto; /* Mantém a proporção da imagem correta */
  margin-bottom: 15px; /* Espaçamento entre a imagem e o título */
}

.highlights-section h3 {
  font-size: 1.5em; /* Tamanho do título */
  margin-bottom: 10px; /* Espaçamento entre o título e o botão */
}

.highlights-section .btn-link {
  font-weight: bold; 
}


equal-img-size {
  width: 100%; /* Define a largura para preencher o espaço disponível */
  height: 250px; /* Define uma altura fixa para todas as imagens */
  object-fit: cover; /* Garante que a imagem cubra a área sem perder a proporção */
  border-radius: 0.25rem; /* Adiciona bordas arredondadas às imagens (opcional) */
}

/* Adapte para telas menores */
@media (max-width: 768px) {
  .equal-img-size {
    height: 200px; /* Você pode querer uma altura menor para telas menores */
  }
}