<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
        <body>
            <header>
                <a class="header-logo"><b>Estofos</b></a>
                <nav>
                  <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/contactos">CONTACTOS</a></li>
                  </ul>
                </nav>
              </header>
             
            <main>
                <section class="sobre">
                    <h1>Sobre Nós</h1>
                    <p>Bem-vindo à Estofos Casa. Somos especialistas em design de interiores e oferecemos uma vasta gama de soluções de estofos para sua casa ou escritório. Com mais de 25 anos de experiência, nossa paixão é criar ambientes confortáveis e esteticamente agradáveis.</p>
                    <p>Nossa equipe é composta por designers talentosos e artesãos qualificados, comprometidos com a qualidade e a satisfação do cliente. Usamos apenas os melhores materiais e as técnicas mais inovadoras em todos os nossos projetos.</p>
                </section>
            </main>
            
            <footer>
               
                <p>&copy; 2024 Estofos Casa. Todos os direitos reservados.</p>
            </footer>
        </body>
        </html>            